﻿
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <meta name="description" content="@ViewBag.Description">
    <meta name="keywords" content="@ViewBag.Keywords">
    <!--<link rel="stylesheet" href="~/css/site.css" />-->
    <!-- PLUGINS CSS STYLE -->
    <link href="~/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="~/plugins/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">


    <!-- Font Awesome -->
    <link href="~/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- Owl Carousel -->
    <link href="~/plugins/slick-carousel/slick/slick.css" rel="stylesheet">
    <link href="~/plugins/slick-carousel/slick/slick-theme.css" rel="stylesheet">
    <!-- Fancy Box -->
    <link href="~/plugins/fancybox/jquery.fancybox.pack.css" rel="stylesheet">
    <link href="~/plugins/jquery-nice-select/css/nice-select.css" rel="stylesheet">
    <link href="~/plugins/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css" rel="stylesheet">
    <!-- CUSTOM CSS -->
    <link href="~/css/style.css" rel="stylesheet">

    <!-- FAVICON -->
    <link href="favicon.ico" rel="shortcut icon">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
