﻿<!DOCTYPE html>
<html>
    <partial name="_Header" />
    <body class="body-wrapper">
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <nav class="navbar navbar-expand-lg  navigation">

                            <a class="navbar-brand" asp-route="home">
                                <img src="images/logo.png" alt="">
                            </a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <partial name="_MainMenu" />
                                <partial name="_LoginPartial" />
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </section>

        @RenderBody()

        <partial name="_Footer" />

        <!-- JAVASCRIPTS -->
        <script src="~/plugins/jquery/jquery.min.js"></script>
        <script src="~/plugins/jquery-ui/jquery-ui.min.js"></script>
        <script src="~/plugins/tether/js/tether.min.js"></script>
        <script src="~/plugins/raty/jquery.raty-fa.js"></script>
        <script src="~/plugins/bootstrap/dist/js/popper.min.js"></script>
        <script src="~/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/plugins/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js"></script>
        <script src="~/plugins/slick-carousel/slick/slick.min.js"></script>
        <script src="~/plugins/jquery-nice-select/js/jquery.nice-select.min.js"></script>
        <script src="~/plugins/fancybox/jquery.fancybox.pack.js"></script>
        <script src="~/plugins/smoothscroll/SmoothScroll.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw"></script>
        <script src="js/scripts.js"></script>
        <script src="~/plugins/jquery/dist/jquery.min.js"></script>
        <script src="~/plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>

</html>



