﻿@using Microsoft.AspNetCore.Identity
@using FilmsCatalog.Controllers
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav  ml-auto main-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <span class="nav-link text-dark">  @User.Identity.Name  </span>
        </li>
        <li class="nav-item">            
            <a class="nav-link" asp-route="filmList" asp-route-pageSize="5" asp-route-pageNumber="1"  >Редактирование</a>
        </li>

        <li class="nav-item">
            <form class="form-inline" asp-controller="Account" asp-action="LogOut" asp-route-returnUrl="@Url.Action("Index", "Home")">
                <button type="submit" class="nav-link btn btn-link text-dark">Выход</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark  login-button" asp-controller="Account" asp-action="SignUp">Регистрация</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark  add-button" asp-controller="Account" asp-action="SignIn">Вход</a>
        </li>
    }
</ul>
