﻿<ul class="navbar-nav ml-auto main-nav ">
    <li class="nav-item active">
        <a class="nav-link" asp-route="home">Главная</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-route="filmCatalog" asp-route-pageSize="5" asp-route-pageNumber="1">Каталог фильмов</a>
    </li>
</ul>