﻿@model SignUpViewModel
@{
    ViewBag.Title = "Регистрация";
    ViewBag.Description = "Регистрация";
    ViewBag.Keywords = "Регистрация";

}
<section class=" section">
    <div class="container">
        <h1>Регистрация пользователя</h1>
        <div>
            <form asp-controller="Account" asp-action="SignUp" method="post" style="margin-top: 2em;">
                <div class="form-row">
                    <div class="form-group col-md-4 col-sm-6 col-12">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4 col-sm-6 col-12">
                        <label asp-for="FirstName"></label>
                        <input asp-for="FirstName" class="form-control">
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4 col-sm-6 col-12">
                        <label asp-for="LastName"></label>
                        <input asp-for="LastName" class="form-control">
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4 col-sm-6 col-12">
                        <label asp-for="MiddleName"></label>
                        <input asp-for="MiddleName" class="form-control">
                        <span asp-validation-for="MiddleName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4 col-sm-6 col-12">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4 col-sm-6 col-12">
                        <label asp-for="PasswordConfirm"></label>
                        <input asp-for="PasswordConfirm" class="form-control">
                        <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
                    </div>
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <button type="submit" class="btn btn-outline-primary">Зарегистрироваться</button>
            </form>
        </div>
</section>