﻿@model SignInViewModel
@{
    ViewBag.Title = "Авторизация";
    ViewBag.Description = "Авторизация";
    ViewBag.Keywords = "Авторизация";

}
<section class=" section">
    <div class="container">
        <h1>Авторизация</h1>
        <div>
            <form asp-controller="Account" asp-action="SignIn" asp-route-returnUrl="@Model.ReturnUrl" method="post" style="margin-top: 2em;">
                <div class="form-row">
                    <div class="form-group col-md-4 col-sm-6 col-12">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4 col-sm-6 col-12">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input asp-for="RememberMe" class="form-check-input">
                        <label asp-for="RememberMe" class="form-check-label"></label>
                    </div>
                </div>
                <div class="form-group">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <button type="submit" class="btn btn-outline-primary">Войти</button>
                </div>
            </form>
        </div>
</section>