﻿@model IEnumerable<FilmsCatalog.Models.FilmShortViewModel>

@{
    ViewBag.Title = "Каталог фильмов";
    ViewBag.Description = "Каталог фильмов";
    ViewBag.Keywords = "Каталог фильмов";
}


<!--===============================
=            Hero Area            =
================================-->

<section class="hero-area bg-1 text-center overly">
    <!-- Container Start -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Header Contetnt -->
                <div class="content-block">
                    <h1>Лучшие фильмы </h1>
                    <p>Смотрите лучшие фильмы <br> каждый день</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Container End -->
</section>


<section class="popular-deals section bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Популярные фильмы</h2>
                    <p>Фильмы, которые предпочитают наши пользователи.</p>
                </div>
            </div>
        </div>
        <div class="row">

            @foreach (var item in Model)
            {
                 var annotation = item.Annotation.Length < 80 ? item.Annotation : item.Annotation.Substring(0, 80); 
                    <!-- offer  -->
                    <div class="col-sm-12 col-lg-4">
                        <!-- product card -->
                        <div class="product-item bg-light">
                            <div class="card">
                                <div class="thumb-content">
                                    <a asp-controller="Films" asp-action="Details" asp-route-id="@item.Id">                                        
                                        <img class="card-img-top img-fluid" src="~/images/@item.PosterImagePath" alt="@item.Title">
                                    </a>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title"><a asp-controller="Films" asp-action="Details" asp-route-id="@item.Id">@item.Title</a></h4>
                                    <ul class="list-inline product-meta">
                                        <li class="list-inline-item">
                                            <a href=""><i class="fa fa-folder-open-o"></i>@item.Genres?.FirstOrDefault()</a>
                                        </li>
                                        <li class="list-inline-item">@item?.Year</li>
                                    </ul>
                                    <p class="card-text">@annotation</p>

                                    <div class="product-ratings">
                                        <ul class="list-inline">
                                            <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                            <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                            <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                            <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
    </div>
</section>