﻿@model FilmsCatalog.Models.FilmCreateEditViewModel
@{
    ViewBag.Title = Model.MetaTitle;
    ViewBag.Description = Model.MetaDescription;
    ViewBag.Keywords = Model.MetaKeywords;
}
<section class=" section">
    <div class="container">
        <h1>@Model.Title</h1>
        <h4>Редактирование постера</h4>
        <hr />
        <div class="row form-group">
            <div class="col-lg-5 card thumb-content">
                <img class="card-img-top img-fluid" src="~/images/@Model.PosterImagePath" alt="@Model.Title">
            </div>
            <div class="col-3">
                <label asp-for="PosterImagePath" class="control-label"></label>
            </div>
            <div class="col-9">
                <br />
                <input asp-for="PosterImagePath" class="form-control" />
                <span asp-validation-for="PosterImagePath" class="text-danger"></span>
            </div>
        </div>


        <div class="row form-group">
            <form asp-action="AddFile" asp-controller="Films" asp-route-id="@(Model.Id)" method="post" enctype="multipart/form-data">
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="Slug" />
                <input type="hidden" asp-for="AutherId" />
                <div>
                    <input type="file" class="btn btn-primary" name="uploadedFile" required />

                    <br /><br />
                    <input type="text" autocomplete="off" placeholder="Enter File Name" name="description" value="@Model.Slug" />

                    <input type="submit" class="btn btn-primary" value="Загрузить" />
                </div>
            </form>
            </div>
        </div>
</section>
