﻿@model FilmsCatalog.Models.FilmShortViewModel

@{
    ViewBag.Title = Model.Title;
    ViewBag.Description = Model.Title;
    ViewBag.Keywords = Model.Title;

}


<section class=" section">
    <div class="container">
        <h1>@Model.Title</h1>        

        <h3>Вы действительно хотите удалить фильм?</h3>
        <div>
            <hr />
            <div class="col-lg-3 card thumb-content">
                <img class="card-img-top img-fluid" src="~/images/@Model.PosterImagePath" alt="@Model.Title">
            </div>
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Title)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Title)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Annotation)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Annotation)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Year)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Year)
                </dd> 
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="AutherId" />
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                <a  asp-route="filmCatalog" asp-route-pageSize="5" asp-route-pageNumber="1">В каталог</a>
            </form>
        </div>
    </div>
</section>