﻿@model FilmsCatalog.Models.FilmFullViewModel

@{    
    ViewBag.Title = Model.MetaTitle;
    ViewBag.Description = Model.MetaDescription;
    ViewBag.Keywords =Model.MetaKeywords;

}

<section class=" section">   
    <div class="container">
        <h1>@Model.Title</h1>
        <div class="row">
            <div class="col-lg-4 card thumb-content">
                <img class="card-img-top img-fluid" src="~/images/@Model.PosterImagePath" alt="@Model.Title">
            </div>
            <div class="col-lg-6 ">
                <h4>Описание фильма</h4>
                <hr />
                @Html.DisplayFor(model => model.Description)
                <br />
                <br />
                <dl class="row">
                    <dt class="col-sm-6">
                        @Html.DisplayNameFor(model => model.Year)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.Year)
                    </dd>
                    <dt class="col-sm-6">
                        @Html.DisplayNameFor(model => model.Director)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.Director)
                    </dd>
                    <dt class="col-sm-6">
                        @Html.DisplayNameFor(model => model.Duration)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.Duration)
                    </dd>
                    <dt class="col-sm-6">
                        @Html.DisplayNameFor(model => model.TrailerUrl)
                    </dt>
                    <dd class="col-sm-6">
                        <a href="@Model.TrailerUrl">Ссылка</a>
                    </dd>
                </dl>
            </div>
            <div>
                <a asp-action="Edit" asp-route-id="@Model.Id">Изменить</a> |
                <a   asp-route="filmCatalog" asp-route-pageSize="5" asp-route-pageNumber="1">В каталог</a>
            </div>
        </div>
        </div>
</section>