﻿@model FilmsCatalog.Models.FilmCreateEditViewModel

@{
    ViewBag.Title = Model.MetaTitle;
    ViewBag.Description = Model.MetaDescription;
    ViewBag.Keywords = Model.MetaKeywords;

}

<section class=" section">
    <div class="container">
        <h1>@Model.Title</h1>        

        <h4>Редактирование</h4>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="AutherId" />
                    <div class="row form-group">
                        <div class="col-3">
                            <label asp-for="Title" class="control-label"></label>
                        </div>
                        <div class="col-9">
                            <input asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                    </div>


                    <div class="row form-group">
                        <div class="col-lg-4 card thumb-content">
                            <img class="card-img-top img-fluid" src="~/images/@Model.PosterImagePath" alt="@Model.Title">
                        </div>
                        <div class="col-3">
                            <label asp-for="PosterImagePath" class="control-label"></label>

                            <div>  <a class="btn btn-primary" asp-action="AddFile" asp-route-id="@Model.Id">Загрузить</a></div>
                        </div>
                        <div class="col-9">
                            <br />
                            <input asp-for="PosterImagePath" class="form-control" />
                            <span asp-validation-for="PosterImagePath" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-3">
                            <label asp-for="Annotation" class="control-label"></label>
                        </div>
                        <div class="col-9">
                            <textarea asp-for="Annotation" class="form-control"></textarea>
                            <span asp-validation-for="Annotation" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-3">
                            <label asp-for="Description" class="control-label"></label>
                        </div>
                        <div class="col-9">
                            <textarea asp-for="Description" class="form-control"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-3">
                            <label asp-for="Year" class="control-label"></label>
                        </div>
                        <div class="col-9">

                            <input asp-for="Year" class="form-control" />
                            <span asp-validation-for="Year" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-3">
                            <label asp-for="Director" class="control-label"></label>
                        </div>
                        <div class="col-9">
                            <input asp-for="Director" class="form-control" />
                            <span asp-validation-for="Director" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-3">
                            <label asp-for="Duration" class="control-label"></label>
                        </div>
                        <div class="col-9">
                            <input asp-for="Duration" class="form-control" />
                            <span asp-validation-for="Duration" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-3">
                            <label asp-for="TrailerUrl" class="control-label"></label>
                        </div>
                        <div class="col-9">
                            <input asp-for="TrailerUrl" class="form-control" />
                            <span asp-validation-for="TrailerUrl" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-3">
                            <label asp-for="Slug" class="control-label"></label>
                        </div>
                        <div class="col-9">
                            <input asp-for="Slug" class="form-control" />
                            <span asp-validation-for="Slug" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-3">
                            <label asp-for="MetaTitle" class="control-label"></label>
                        </div>
                        <div class="col-9">
                            <input asp-for="MetaTitle" class="form-control" />
                            <span asp-validation-for="MetaTitle" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-3">
                            <label asp-for="MetaDescription" class="control-label"></label>
                        </div>
                        <div class="col-9">
                            <input asp-for="MetaDescription" class="form-control" />
                            <span asp-validation-for="MetaDescription" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-3">
                            <label asp-for="MetaKeywords" class="control-label"></label>
                        </div>
                        <div class="col-9">
                            <input asp-for="MetaKeywords" class="form-control" />
                            <span asp-validation-for="MetaKeywords" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Сохранить" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a   asp-route="filmCatalog" asp-route-pageSize="5" asp-route-pageNumber="1">В каталог</a>
        </div>
        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }

    </div>
</section>

