﻿@model PagedViewModel<IEnumerable<FilmsCatalog.Models.FilmShortViewModel>>

@{
    ViewBag.Title = "Каталог фильмов";
    ViewBag.Description = "Каталог фильмов";
    ViewBag.Keywords = "Каталог фильмов";
}

<section class="popular-deals section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Все фильмы</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model.Data)
            {
                var annotation = item.Annotation.Length < 80 ? item.Annotation : item.Annotation.Substring(0, 80);
                <!-- offer  -->
                <div class="col-sm-12 col-lg-4">
                    <!-- product card -->
                    <div class="category-block">
                        <div class="">
                            <div class="thumb-content">
                                <a asp-controller="Films" asp-action="Details" asp-route-id="@item.Id">
                                    <img class="card-img-top img-fluid" src="~/images/@item.PosterImagePath" alt="@item.Title">
                                </a>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title"><a asp-controller="Films" asp-action="Details" asp-route-id="@item.Id">@item.Title</a></h4>
                                <ul class="list-inline product-meta">
                                    <li class="list-inline-item">
                                        <a href=""><i class="fa fa-folder-open-o"></i>@item.Genres?.FirstOrDefault()</a>
                                    </li>
                                    <li class="list-inline-item">@item?.Year</li>
                                </ul>
                                <p class="card-text">@annotation</p>

                                <div class="product-ratings">
                                    <ul class="list-inline">
                                        <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                        <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                        <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                        <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        
            @if (Model.HasPreviousPage)
            {
                <a asp-action="Index"
                   asp-route-pageNumber="1"
                   asp-route-pageSize="@(Model.PageSize)"
                   class="btn btn-outline-dark">
                    <i class="glyphicon glyphicon-chevron-left"></i>
                    Начало
                </a>           
                <a asp-action="Index"
                   asp-route-pageNumber="@(Model.PageNumber - 1)"
                   asp-route-pageSize="@(Model.PageSize)"
                   class="btn btn-outline-dark">
                    <i class="glyphicon glyphicon-chevron-left"></i>
                    Назад
                </a>
            }
            @if (Model.HasNextPage)
            {
                <a asp-action="Index"
                   asp-route-pageNumber="@(Model.PageNumber + 1)"
                   asp-route-pageSize="@(Model.PageSize)"
                   class="btn btn-outline-dark">
                    <i class="glyphicon glyphicon-chevron-right"></i>
                    Вперед

                </a>
                <a asp-action="Index"
                   asp-route-pageNumber="@(Model.TotalPages)"
                   asp-route-pageSize="@(Model.PageSize)"
                   class="btn btn-outline-dark">
                    <i class="glyphicon glyphicon-chevron-right"></i>
                    Конец

                </a>
            }
       

    </div>
</section>