﻿@model PagedViewModel<IEnumerable<FilmsCatalog.Models.FilmShortViewModel>>

@{
    ViewBag.Title = "Каталог фильмов";
    ViewBag.Description = "Каталог фильмов";
    ViewBag.Keywords = "Каталог фильмов";
    IEnumerable<FilmsCatalog.Models.FilmShortViewModel> a = Model.Data;
}
<section class=" section">
    <!-- Container Start -->
    <div class="container">
        <h1>Список фильмов</h1>

        <p>
            <a asp-action="Create">Новый</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Data.FirstOrDefault().Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Data.FirstOrDefault().Annotation)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Data.FirstOrDefault().Year)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Data.FirstOrDefault().PosterImagePath)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Data)
                {
                    <tr>
                        <td>                            
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Annotation)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Year)
                        </td>
                        <td>
                            <div class="col-4 thumb-content">
                                <img class="card-img-top img-fluid" src="~/images/@item.PosterImagePath" alt="@item.Title">
                            </div>
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> 
                            <a asp-action="AddFile" asp-route-id="@item.Id">Постер</a> 
                            <a asp-action="Details" asp-route-id="@item.Id">Просмотр</a> 
                            <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @if (Model.HasPreviousPage)
        {
            <a asp-action="List"
               asp-route-pageNumber="1"
               asp-route-pageSize="@(Model.PageSize)"
               class="btn btn-outline-dark">
                <i class="glyphicon glyphicon-chevron-left"></i>
                Начало
            </a>
            <a asp-action="List"
               asp-route-pageNumber="@(Model.PageNumber - 1)"
               asp-route-pageSize="@(Model.PageSize)"
               class="btn btn-outline-dark">
                <i class="glyphicon glyphicon-chevron-left"></i>
                Назад
            </a>
        }
        @if (Model.HasNextPage)
        {
            <a asp-action="List"
               asp-route-pageNumber="@(Model.PageNumber + 1)"
               asp-route-pageSize="@(Model.PageSize)"
               class="btn btn-outline-dark">
                <i class="glyphicon glyphicon-chevron-right"></i>
                Вперед

            </a>
            <a asp-action="List"
               asp-route-pageNumber="@(Model.TotalPages)"
               asp-route-pageSize="@(Model.PageSize)"
               class="btn btn-outline-dark">
                <i class="glyphicon glyphicon-chevron-right"></i>
                Конец

            </a>
        }
    </div>
</section>
